snippet python "Python codeblock"
\`\`\`python
$0
\`\`\`
endsnippet

snippet bash "Bash codeblock"
\`\`\`bash
$0
\`\`\`
endsnippet

snippet hi "highlight"
\`$0\`
endsnippet

snippet link "Link"
[$1]($2)$0
endsnippet


